name: Go

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        # Require: The version of golangci-lint to use.
        version: latest

    - name: Build and Test
      run: go run build.go test
